$games-list-width: 300px;
$epochs: 5;
$board-height: 80vh;
$epoch-height: $board-height/$epochs;
$controls-height: (100vh - $board-height);
$global-padding: 6px;

#board {
  width: 100vw;
  height: $board-height;

  .player {
    width: 50%;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &.player1 {

    }

    &.player2 {
      left: 50vw;

      .agents {
        padding: $global-padding $global-padding $global-padding $global-padding/2;
      }

      .turnpoint {
        order: 1;
        padding-right: $global-padding;
        padding-left: 0;
      }
    }

    .epoch {
      display: flex;
      height: $epoch-height;
    }

    .turnpoint,
    .agents {
      height: 100%;
      padding-left: $global-padding;
      text-align: center;
    }

    .agents {
      flex: 0 64px;
      padding: $global-padding $global-padding/2 $global-padding $global-padding;
    }

    .turnpoint {
      flex: 1;
    }

    .place-agent,
    .disintegrate {
      height: 50px;
      font-size: 20px;
      outline: none;
      @include vertical-align();
    }

    .disintegrate {
      font-weight: 500;

      &.counting {
        
      }

      &.text {
        padding: 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 300;
        white-space: normal;
      }
    }
  }
}

#controls {
  width: 100vw;
  height: $controls-height;
  padding: 0 $global-padding;

  .current-player {
    font-weight: 500;
    text-transform: uppercase;
  }

  .new-game {
    font-weight: 300;
  }
}
