$games-list-width: 300px;
$epochs: 5;
$board-height: 80vh;
$epoch-height: $board-height/$epochs;
$controls-height: (100vh - $board-height);
$global-padding: 6px;

#game {
  background-color: hsl(223, 7%, 6%);
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  .btn {
    outline: none;
  }
}

#board {
  .player {
    width: 50%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &.player1 {}

    &.player2 {
      position: absolute;
      top: 0;
      left: 50vw;

      .agents {
        padding: 0 $global-padding 0 $global-padding/2;
      }

      .turnpoint {
        order: 1;
        padding-right: $global-padding;
        padding-left: 0;
      }
    }

    .epoch {
      display: flex;
      margin: $global-padding 0;
    }

    .turnpoint,
    .agents {
      padding-left: $global-padding;
      text-align: center;
    }

    .agents {
      flex: 0 64px;
      padding: 0 $global-padding/2 0 $global-padding;
    }

    .turnpoint {
      flex: 1;
    }

    .place-agent,
    .disintegrate {
      height: 56px;
      font-size: 24px;
    }

    .disintegrate {
      font-weight: 500;

      &.text {
        padding: 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 300;
        white-space: normal;
      }
    }
  }
}

#controls {
  width: 100vw;
  margin-top: $global-padding * 2;
  padding: 0 $global-padding;

  #actions {
    display: flex;

    .action {
      flex: 1;
      margin: 0 0 $global-padding $global-padding;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .current-player {
    font-weight: 500;
    text-transform: uppercase;
  }

  .new-game {
    font-weight: 300;
  }
}
