<!DOCTYPE html>
<html>
<head>
  <title>EndStream Turn Counter</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="Ilya Dorman">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-title" content="EndStream">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/style.css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="endStreamCounter" ng-controller="boardController">
<div id="game">



  <div id="board" ng-click="saveBoard()">
    <ul class="player"
        ng-repeat="(streamOwner, stats) in board"
        ng-class="streamOwner">
      <li class="epoch"
          ng-repeat="(epoch, turnpoint) in stats.stream">
        <div class="turnpoint">
          <button class="btn btn-primary btn-block disintegrate btn-{{turnpoint.countingAgent}}"
                  ng-class="turnpoint.turns === 'Disintegrate or spin' ? 'text' : 'disabled'">
            {{turnpoint.turns}}
          </button>
        </div>
        <div class="agents">
          <button class="btn btn-primary btn-block place-agent btn-{{turnpoint.countingAgent}}"
                  ng-click="agentCounting(epoch, streamOwner)">
            <i class="fa"
               ng-class="turnpoint.countingAgent ? 'fa-user-times' : 'fa-user-plus'"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>



  <div id="controls">
    <div id="actions">
      <div class="action" ng-repeat="i in actions track by $index">
        <button class="btn btn-primary btn-block"
                ng-click="actionToggle($index)">
          <i class="fa"
             ng-class="actions[$index] ? 'fa-circle' : 'fa-circle-thin'"></i></button>
      </div>
    </div>

    <button class="btn btn-primary btn-lg btn-block end-turn btn-{{currentPlayer}}"
            ng-click="endTurn()"
            ng-disabled="!allActionsUsed()">
      End Turn <span class="current-player">{{currentPlayer}}</span>
    </button>
    <button class="btn btn-primary btn-block new-game"
            ng-click="newGame()">New Game</button>
  </div>


</div>
</body>
</html>
