<!DOCTYPE html>
<html>
<head>
  <title>EndStream Turn Counter</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="Ilya Dorman">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="stylesheets/style.css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>



<div id="board" ng-app="esCounter" ng-controller="boardController">
  <ul class="player" ng-repeat="player in board" ng-class="player.name">
    <li class="epoch" ng-repeat="turnpoint in player.stream">
      <div class="turnpoints">{{turnpoint.turns}}</div>
      <div class="agents">
        <button class="btn btn-primary" ng-click="agentDisintegrating($index, player.name)">
          <i class="fa fa-user-plus"></i>
        </button>
      </div>
    </li>
  </ul>
</div>



</body>
</html>
