/*
   _ __ ___  ___  ___ _ __  ___
  | '_ ` _ \| \ \/ / | '_ \/ __|
  | | | | | | |>  <| | | | \__ \
  |_| |_| |_|_/_/\_\_|_| |_|___/

*/
/*
         _       _           _
        | |     | |         | |
    __ _| | ___ | |__   __ _| |
   / _` | |/ _ \| '_ \ / _` | |
  | (_| | | (_) | |_) | (_| | |
   \__, |_|\___/|_.__/ \__,_|_|
    __/ |
   |___/
*/
/* line 26, ../sass/style.scss */
html {
  box-sizing: border-box;
}

/* line 30, ../sass/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 34, ../sass/style.scss */
body {
  font-family: 'Ubuntu', sans-serif;
}

/*
       _         _
      | |       | |
   ___| |_ _   _| | ___  ___
  / __| __| | | | |/ _ \/ __|
  \__ \ |_| |_| | |  __/\__ \
  |___/\__|\__, |_|\___||___/
            __/ |
           |___/
*/
/* line 7, ../sass/_board.scss */
#board {
  width: 100vw;
  height: 80vh;
}
/* line 11, ../sass/_board.scss */
#board .player {
  width: 50%;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 22, ../sass/_board.scss */
#board .player.player2 {
  left: 50vw;
}
/* line 25, ../sass/_board.scss */
#board .player.player2 .turnpoint {
  order: 1;
}
/* line 30, ../sass/_board.scss */
#board .player .epoch {
  display: flex;
  height: 16vh;
}
/* line 35, ../sass/_board.scss */
#board .player .turnpoint,
#board .player .agents {
  height: 100%;
}
/* line 40, ../sass/_board.scss */
#board .player .agents {
  text-align: center;
}
/* line 44, ../sass/_board.scss */
#board .player .agent-placed {
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateZ(0);
}
/* line 48, ../sass/_board.scss */
#board .player .turnpoint {
  flex: 0 16vh;
  background-color: #3a3c40;
  border: 20px solid #fff;
  border-radius: 50%;
}
/* line 55, ../sass/_board.scss */
#board .player .counter {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateZ(0);
}
/* line 62, ../sass/_board.scss */
#board .player .counter.disintegrate {
  font-size: 14px;
  font-weight: 300;
}
/* line 68, ../sass/_board.scss */
#board .player .agents {
  flex: 1;
}
/* line 71, ../sass/_board.scss */
#board .player .agents button {
  font-size: 20px;
}

/* line 78, ../sass/_board.scss */
#controls {
  width: 100vw;
  height: 20vh;
}
