/* line 5, ../sass/style.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../sass/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 13, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 18, ../sass/style.scss */
#board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
/* line 25, ../sass/style.scss */
#board ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 31, ../sass/style.scss */
#board .player {
  position: absolute;
  height: 100%;
  width: 50%;
}
/* line 40, ../sass/style.scss */
#board .player.player2 {
  left: 50vw;
}
/* line 43, ../sass/style.scss */
#board .player.player2 .turnpoints {
  order: 1;
}
/* line 48, ../sass/style.scss */
#board .player .epoch {
  display: flex;
}
/* line 52, ../sass/style.scss */
#board .player .turnpoints,
#board .player .agents {
  height: 20vh;
  border: dotted 1px gray;
}
/* line 58, ../sass/style.scss */
#board .player .turnpoints {
  flex: 0 20vh;
}
/* line 62, ../sass/style.scss */
#board .player .agents {
  flex: 1;
}
/* line 65, ../sass/style.scss */
#board .player .agents button {
  font-size: 20px;
}
